body{
    background-image: url(/3_Media/rickroll_4k.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

div{
    display: inline;
    margin: auto;
    
}